{%extends "base.html"%} 

{%block title%}Flask Chatroom{%endblock%}

{%block content%}
{%if error%}
<div class="alert alert-danger text-center mb-3" role="alert" id="error">{{ error }}</div>
{%endif%}

<div class="d-flex justify-content-center align-items-center vh-100" id="homepagecontainer">
    <div class="p-4 border rounded bg-light" style="min-width: 300px;">
        <h1 class="text-center mb-4">Flask Chatroom</h1>
        <form method="post" id="chatroomform" name="chatroomform">
            <div class="mb-3">
                <input class="form-control" type="text" name="name-input" placeholder="Name">
            </div>
            <div class="row g-2 mb-3">
                <div class="col-8">
                  <input class="form-control" type="text" name="room-code" placeholder="Room code">
                </div>
                <div class="col-4">
                  <button class="btn btn-primary w-100" type="submit" id="joinchatroombutton" name="joinchatroombutton" value="true">Join</button>
                </div>
              </div>
            <button class="btn btn-outline-secondary" type="submit" id="createchatroombutton" name="createchatroombutton" value="true">Create</button>
        </form>
    </div>

    <script type="text/javascript">
      const form = document.getElementById("chatroomform");

      form.addEventListener("keypress", function(e) {
        if (e.key === "Enter" && e.target.tagName === "INPUT") {
          e.preventDefault();

          document.getElementById("createchatroombutton").click();
        }
      }

    )
    </script>
</div>
{%endblock%}